
@{
    ViewBag.Title = "Thông Báo Email";
    Layout = "~/Views/Shared/_Layout_Account.cshtml";
}

<div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-2">@ViewBag.TitleH</h1>
                <p class="mb-4">
                    @ViewBag.Msg
                </p>
            </div>
            <hr>
            <a href="@Url.Action("Login","Accounts")" class="btn btn-primary btn-user btn-block">Quay Lại Trang Đăng Nhập</a>
            <hr>
        </div>
    </div>
</div>